data/import/*
data/export/*
data/cache/*
data/logs/*

!.gitkeep

__pycache__/
*.py[cod]
*$py.class
.cache/

docs/_build_html/

bid*
*.swp
*.tsv
*.tsv.gz
*.log
*.o
*.gcda
*.gcno
*.gcov
*.bin
*.json.gz

gmon.out
worldsorted
testhouse
gennumbers
mergestreets
housesfcgi
tinyfcgi
mergestreets
