data/import/*
data/export/*
data/cache/*
data/logs/*

!.gitkeep

__pycache__/
*.py[cod]
*$py.class
.cache/

docs/_build_html/

*.swp
*.tsv
*.tsv.gz
bid*
*.log
*.o
*.gcda
*.gcno
*.gcov
gmon.out
worldsorted
testhouse
gennumbers
mergestreets
housesfcgi
tinyfcgi
housenumbersData
housenumbersIndex
mergestreets
*.json.gz
housenumbers/testData
housenumbers/testIndex
